@charset "utf-8";
/*
 * @created :   2018/03/20
 * @author  :   Mr.Han
 * @version :   v1.0
 * @desc    :   XX模块
 */
/* 字体  */
@font-face {
  font-family: 'SMSP-Black';
  src: url('../fonts/Mostardesign - SofiaProBlack.eot');
  src: local('☺'), url('../fonts/Mostardesign - SofiaProBlack.woff') format('woff'), url('../fonts/Mostardesign - SofiaProBlack.ttf') format('truetype'), url('../fonts/Mostardesign - SofiaProBlack.svg') format('svg');
}
@font-face {
  font-family: 'SMSP-BlackItalic';
  src: url('../fonts/Mostardesign - SofiaProBlack-Italic.eot');
  src: local('☺'), url('../fonts/Mostardesign - SofiaProBlack-Italic.woff') format('woff'), url('../fonts/Mostardesign - SofiaProBlack-Italic.ttf') format('truetype'), url('../fonts/Mostardesign - SofiaProBlack-Italic.svg') format('svg');
}
@font-face {
  font-family: 'SMSP-Bold';
  src: url('../fonts/Mostardesign - SofiaPro-Bold.eot');
  src: local('☺'), url('../fonts/Mostardesign - SofiaPro-Bold.woff') format('woff'), url('../fonts/Mostardesign - SofiaPro-Bold.ttf') format('truetype'), url('../fonts/Mostardesign - SofiaPro-Bold.svg') format('svg');
}
@font-face {
  font-family: 'SMSP-BoldItalic';
  src: url('../fonts/Mostardesign - SofiaPro-BoldItalic.eot');
  src: local('☺'), url('../fonts/Mostardesign - SofiaPro-BoldItalic.woff') format('woff'), url('../fonts/Mostardesign - SofiaPro-BoldItalic.ttf') format('truetype'), url('../fonts/Mostardesign - SofiaPro-BoldItalic.svg') format('svg');
}
@font-face {
  font-family: 'SMSP-ExtraLight';
  src: url('../fonts/Mostardesign - SofiaProExtraLight.eot');
  src: local('☺'), url('../fonts/Mostardesign - SofiaProExtraLight.woff') format('woff'), url('../fonts/Mostardesign - SofiaProExtraLight.ttf') format('truetype'), url('../fonts/Mostardesign - SofiaProExtraLight.svg') format('svg');
}
@font-face {
  font-family: 'SMSP-ExtraLightItalic';
  src: url('../fonts/Mostardesign - SofiaProExtraLight-Italic.eot');
  src: local('☺'), url('../fonts/Mostardesign - SofiaProExtraLight-Italic.woff') format('woff'), url('../fonts/Mostardesign - SofiaProExtraLight-Italic.ttf') format('truetype'), url('../fonts/Mostardesign - SofiaProExtraLight-Italic.svg') format('svg');
}
@font-face {
  font-family: 'SMSP-Light';
  src: url('../fonts/Mostardesign - SofiaProLight.eot');
  src: local('☺'), url('../fonts/Mostardesign - SofiaProLight.woff') format('woff'), url('../fonts/Mostardesign - SofiaProLight.ttf') format('truetype'), url('../fonts/Mostardesign - SofiaProLight.svg') format('svg');
}
@font-face {
  font-family: 'SMSP-LightItalic';
  src: url('../fonts/Mostardesign - SofiaProLight-Italic.eot');
  src: local('☺'), url('../fonts/Mostardesign - SofiaProLight-Italic.woff') format('woff'), url('../fonts/Mostardesign - SofiaProLight-Italic.ttf') format('truetype'), url('../fonts/Mostardesign - SofiaProLight-Italic.svg') format('svg');
}
@font-face {
  font-family: 'SMSP-Medium';
  src: url('../fonts/Mostardesign - SofiaProMedium.eot');
  src: local('☺'), url('../fonts/Mostardesign - SofiaProMedium.woff') format('woff'), url('../fonts/Mostardesign - SofiaProMedium.ttf') format('truetype'), url('../fonts/Mostardesign - SofiaProMedium.svg') format('svg');
}
@font-face {
  font-family: 'SMSP-MediumItalic';
  src: url('../fonts/Mostardesign - SofiaProMedium-Italic.eot');
  src: local('☺'), url('../fonts/Mostardesign - SofiaProMedium-Italic.woff') format('woff'), url('../fonts/Mostardesign - SofiaProMedium-Italic.ttf') format('truetype'), url('../fonts/Mostardesign - SofiaProMedium-Italic.svg') format('svg');
}
@font-face {
  font-family: 'SMSP-Regular';
  src: url('../fonts/Mostardesign - SofiaProRegular.eot');
  src: local('☺'), url('../fonts/Mostardesign - SofiaProRegular.woff') format('woff'), url('../fonts/Mostardesign - SofiaProRegular.ttf') format('truetype'), url('../fonts/Mostardesign - SofiaProRegular.svg') format('svg');
}
@font-face {
  font-family: 'SMSP-RegularItalic';
  src: url('../fonts/Mostardesign - SofiaProRegular-Italic.eot');
  src: local('☺'), url('../fonts/Mostardesign - SofiaProRegular-Italic.woff') format('woff'), url('../fonts/Mostardesign - SofiaProRegular-Italic.ttf') format('truetype'), url('../fonts/Mostardesign - SofiaProRegular-Italic.svg') format('svg');
}
@font-face {
  font-family: 'SMSP-SemiBold';
  src: url('../fonts/Mostardesign - SofiaProSemiBold.eot');
  src: local('☺'), url('../fonts/Mostardesign - SofiaProSemiBold.woff') format('woff'), url('../fonts/Mostardesign - SofiaProSemiBold.ttf') format('truetype'), url('../fonts/Mostardesign - SofiaProSemiBold.svg') format('svg');
}
@font-face {
  font-family: 'SMSP-SemiBoldItalic';
  src: url('../fonts/Mostardesign - SofiaProSemiBold-Italic.eot');
  src: local('☺'), url('../fonts/Mostardesign - SofiaProSemiBold-Italic.woff') format('woff'), url('../fonts/Mostardesign - SofiaProSemiBold-Italic.ttf') format('truetype'), url('../fonts/Mostardesign - SofiaProSemiBold-Italic.svg') format('svg');
}
@font-face {
  font-family: 'SMSP-UltraLight';
  src: url('../fonts/Mostardesign - SofiaProUltraLight.eot');
  src: local('☺'), url('../fonts/Mostardesign - SofiaProUltraLight.woff') format('woff'), url('../fonts/Mostardesign - SofiaProUltraLight.ttf') format('truetype'), url('../fonts/Mostardesign - SofiaProUltraLight.svg') format('svg');
}
@font-face {
  font-family: 'SMSP-UltraLightItalic';
  src: url('../fonts/Mostardesign - SofiaProUltraLight-Italic.eot');
  src: local('☺'), url('../fonts/Mostardesign - SofiaProUltraLight-Italic.woff') format('woff'), url('../fonts/Mostardesign - SofiaProUltraLight-Italic.ttf') format('truetype'), url('../fonts/Mostardesign - SofiaProUltraLight-Italic.svg') format('svg');
}
@font-face {
  font-family: 'CND-Black';
  src: url('../fonts/Noe Display Black.eot');
  src: local('☺'), url('../fonts/Noe Display Black.woff') format('woff'), url('../fonts/Noe Display Black.ttf') format('truetype'), url('../fonts/Noe Display Black.svg') format('svg');
}
@font-face {
  font-family: 'CND-BlackItalic';
  src: url('../fonts/Noe Display Black Italic.eot');
  src: local('☺'), url('../fonts/Noe Display Black Italic.woff') format('woff'), url('../fonts/Noe Display Black Italic.ttf') format('truetype'), url('../fonts/Noe Display Black Italic.svg') format('svg');
}
@font-face {
  font-family: 'CND-Bold';
  src: url('../fonts/Noe Display Bold.eot');
  src: local('☺'), url('../fonts/Noe Display Bold.woff') format('woff'), url('../fonts/Noe Display Bold.ttf') format('truetype'), url('../fonts/Noe Display Bold.svg') format('svg');
}
@font-face {
  font-family: 'CND-BoldItalic';
  src: url('../fonts/Noe Display Bold Italic.eot');
  src: local('☺'), url('../fonts/Noe Display Bold Italic.woff') format('woff'), url('../fonts/Noe Display Bold Italic.ttf') format('truetype'), url('../fonts/Noe Display Bold Italic.svg') format('svg');
}
@font-face {
  font-family: 'CND-Medium';
  src: url('../fonts/Noe Display Medium.eot');
  src: local('☺'), url('../fonts/Noe Display Medium.woff') format('woff'), url('../fonts/Noe Display Medium.ttf') format('truetype'), url('../fonts/Noe Display Medium.svg') format('svg');
}
@font-face {
  font-family: 'CND-MediumItalic';
  src: url('../fonts/Noe Display Medium Italic.eot');
  src: local('☺'), url('../fonts/Noe Display Medium Italic.woff') format('woff'), url('../fonts/Noe Display Medium Italic.ttf') format('truetype'), url('../fonts/Noe Display Medium Italic.svg') format('svg');
}
@font-face {
  font-family: 'CND-Regular';
  src: url('../fonts/Noe Display Regular.eot');
  src: local('☺'), url('../fonts/Noe Display Regular.woff') format('woff'), url('../fonts/Noe Display Regular.ttf') format('truetype'), url('../fonts/Noe Display Regular.svg') format('svg');
}
@font-face {
  font-family: 'CND-RegularItalic';
  src: url('../fonts/Noe Display Regular Italic.eot');
  src: local('☺'), url('../fonts/Noe Display Regular Italic.woff') format('woff'), url('../fonts/Noe Display Regular Italic.ttf') format('truetype'), url('../fonts/Noe Display Regular Italic.svg') format('svg');
}
.fm_sp_black {
  font-family: 'SMSP-Black';
}
.fm_sp_black_i {
  font-family: 'SMSP-BlackItalic';
}
.fm_sp_bold {
  font-family: 'SMSP-Bold';
}
.fm_sp_bold_i {
  font-family: 'SMSP-BoldItalic';
}
.fm_sp_extra_l {
  font-family: 'SMSP-ExtraLight';
}
.fm_sp_extra_li {
  font-family: 'SMSP-ExtraLightItalic';
}
.fm_sp_light {
  font-family: 'SMSP-Light';
}
.fm_sp_light_i {
  font-family: 'SMSP-LightItalic';
}
.fm_sp_medium {
  font-family: 'SMSP-Medium';
}
.fm_sp_medium_i {
  font-family: 'SMSP-MediumItalic';
}
.fm_sp_regular {
  font-family: 'SMSP-Regular';
}
.fm_sp_regular_i {
  font-family: 'SMSP-RegularItalic';
}
.fm_sp_semib {
  font-family: 'SMSP-SemiBold';
}
.fm_sp_semib_i {
  font-family: 'SMSP-SemiBoldItalic';
}
.fm_sp_ultra_l {
  font-family: 'SMSP-UltraLight';
}
.fm_sp_ultra_li {
  font-family: 'SMSP-UltraLightItalic';
}
.fm_nd_black {
  font-family: 'CND-Black';
}
.fm_nd_black_i {
  font-family: 'CND-BlackItalic';
}
.fm_nd_bold {
  font-family: 'CND-Bold';
}
.fm_nd_bold_i {
  font-family: 'CND-BoldItalic';
}
.fm_nd_medium {
  font-family: 'CND-Medium';
}
.fm_nd_medium_i {
  font-family: 'CND-MediumItalic';
}
.fm_nd_regular {
  font-family: 'CND-Regular';
}
.fm_nd_regular_i {
  font-family: 'CND-RegularItalic';
}
[class^="fm_"] {
  font-weight: normal;
  font-style: normal;
}
/* CSS  */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.outline {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
button:focus,
a:focus {
  -moz-outline-style: none;
}
button:focus,
a:focus {
  outline: none;
  -moz-outline: none;
}
a img {
  border: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
input,
button,
img {
  outline: none;
}
body {
  -webkit-text-size-adjust: none;
  overflow-x: hidden;
  font-family: 'SMSP-Regular';
  font-size: 13px;
  color: #000000;
}
em,
i {
  font-style: normal;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
.del_line {
  text-decoration: line-through;
}
.cur_de {
  cursor: default !important;
}
.hand,
button {
  cursor: pointer;
}
button {
  border: none;
}
.cb {
  clear: both;
}
.fn {
  font: normal;
}
.cb {
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.boxs {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.oh:after {
  display: block;
  visibility: hidden;
  height: 0px;
  content: ".";
  clear: both;
}
.jz {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.jz_y {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/*.jz { margin: 0px auto; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); }*/
/* CSS 宽度 高  行高 */
.w_100 {
  width: 100%;
}
.w_90 {
  width: 90%;
}
.w_80 {
  width: 80%;
}
.w_70 {
  width: 70%;
}
.w_60 {
  width: 60%;
}
.w_50 {
  width: 50%;
}
.w_40 {
  width: 40%;
}
.w_30 {
  width: 30%;
}
.w_20 {
  width: 20%;
}
.w_10 {
  width: 10%;
}
.wid_100 {
  width: 100px;
}
.wid_200 {
  width: 200px;
}
.wid_40 {
  width: 40px;
}
.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.h15 {
  height: 15px;
}
.h20 {
  height: 20px;
}
.h25 {
  height: 25px;
}
.h30 {
  height: 30px;
}
.h35 {
  height: 35px;
}
.h40 {
  height: 40px;
}
.h45 {
  height: 45px;
}
.h50 {
  height: 50px;
}
.h55 {
  height: 55px;
}
.h60 {
  height: 60px;
}
.lh15 {
  line-height: 15px;
}
.lh16 {
  line-height: 16px;
}
.lh18 {
  line-height: 18px;
}
.lh20 {
  line-height: 20px;
}
.lh22 {
  line-height: 22px;
}
.lh25 {
  line-height: 25px;
}
.lh27 {
  line-height: 27px;
}
.lh30 {
  line-height: 30px;
}
.lh35 {
  line-height: 35px;
}
.lh40 {
  line-height: 40px;
}
.lh45 {
  line-height: 45px;
}
.lh50 {
  line-height: 50px;
}
.lh55 {
  line-height: 55px;
}
.lh60 {
  line-height: 60px;
}
/* CSS 字号 字体  */
.f8 {
  font-size: 8px;
}
.f9 {
  font-size: 9px;
}
.f10 {
  font-size: 10px;
}
.f11 {
  font-size: 11px;
}
.f12 {
  font-size: 12px;
}
.f13 {
  font-size: 13px;
}
.f14 {
  font-size: 14px;
}
.f15 {
  font-size: 15px;
}
.f16 {
  font-size: 16px;
}
.f17 {
  font-size: 17px;
}
.f18 {
  font-size: 18px;
}
.f19 {
  font-size: 19px;
}
.f20 {
  font-size: 20px;
}
.f21 {
  font-size: 21px;
}
.f22 {
  font-size: 22px;
}
.f23 {
  font-size: 23px;
}
.f24 {
  font-size: 24px;
}
.f25 {
  font-size: 25px;
}
.f26 {
  font-size: 26px;
}
.f27 {
  font-size: 27px;
}
.f28 {
  font-size: 28px;
}
.f29 {
  font-size: 29px;
}
.f30 {
  font-size: 30px;
}
.f36 {
  font-size: 36px;
}
.f40 {
  font-size: 40px;
}
.f48 {
  font-size: 48px;
}
/* CSS 边距 */
.plr70 {
  padding-left: 70px;
  padding-right: 70px;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt25 {
  padding-top: 25px;
}
.pt30 {
  padding-top: 30px;
}
.pt35 {
  padding-top: 35px;
}
.pt40 {
  padding-top: 40px;
}
.pt45 {
  padding-top: 45px;
}
.pt50 {
  padding-top: 50px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pr25 {
  padding-right: 25px;
}
.pr30 {
  padding-right: 30px;
}
.pr35 {
  padding-right: 35px;
}
.pr40 {
  padding-right: 40px;
}
.pr45 {
  padding-right: 45px;
}
.pr50 {
  padding-right: 50px;
}
.pr70 {
  padding-right: 70px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb25 {
  padding-bottom: 25px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb35 {
  padding-bottom: 35px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb45 {
  padding-bottom: 45px;
}
.pb50 {
  padding-bottom: 50px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pl25 {
  padding-left: 25px;
}
.pl30 {
  padding-left: 30px;
}
.pl35 {
  padding-left: 35px;
}
.pl40 {
  padding-left: 40px;
}
.pl45 {
  padding-left: 45px;
}
.pl50 {
  padding-left: 50px;
}
.pl70 {
  padding-left: 70px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mt45 {
  margin-top: 45px;
}
.mt50 {
  margin-top: 50px;
}
.mt60 {
  margin-top: 60px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr25 {
  margin-right: 25px;
}
.mr30 {
  margin-right: 30px;
}
.mr35 {
  margin-right: 35px;
}
.mr40 {
  margin-right: 40px;
}
.mr45 {
  margin-right: 45px;
}
.mr50 {
  margin-right: 50px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb45 {
  margin-bottom: 45px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb70 {
  margin-bottom: 70px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml25 {
  margin-left: 25px;
}
.ml30 {
  margin-left: 30px;
}
.ml35 {
  margin-left: 35px;
}
.ml40 {
  margin-left: 40px;
}
.ml45 {
  margin-left: 45px;
}
.ml50 {
  margin-left: 50px;
}
/* CSS 字体颜色 背景色颜色 边框 间距 */
.cffffff {
  color: #ffffff;
}
.c000000 {
  color: #000000;
}
.c1c7c42 {
  color: #1c7c42;
}
.cf29191 {
  color: #f29191;
}
.cffbf0c {
  color: #ffbf0c;
}
.c161c3a {
  color: #161c3a;
}
.c99b791 {
  color: #99b791;
}
.cf1ccc2 {
  color: #f1ccc2;
}
.cf1ccc2 {
  color: #f1ccc2;
}
.c62605e {
  color: #62605e;
}
.c898989 {
  color: #898989;
}
.ce2e2e2 {
  color: #e2e2e2;
}
.cfafafa {
  color: #fafafa;
}
.bg_ffffff {
  background: #ffffff;
}
.bg_000000 {
  background: #000000;
}
.bg_1c7c42 {
  background: #1c7c42;
}
.bg_f29191 {
  background: #f29191;
}
.bg_ffbf0c {
  background: #ffbf0c;
}
.bg_161c3a {
  background: #161c3a;
}
.bg_99b791 {
  background: #99b791;
}
.bg_f1ccc2 {
  background: #f1ccc2;
}
.bg_f1ccc2 {
  background: #f1ccc2;
}
.bg_62605e {
  background: #62605e;
}
.bg_898989 {
  background: #898989;
}
.bg_e2e2e2 {
  background: #e2e2e2;
}
.bg_fafafa {
  background: #fafafa;
}
.b_e2e2e2 {
  border: 1px solid #e2e2e2;
}
.bt_e2e2e2 {
  border-top: 1px solid #e2e2e2;
}
.br_e2e2e2 {
  border-right: 1px solid #e2e2e2;
}
.bb_e2e2e2 {
  border-bottom: 1px solid #e2e2e2;
}
.bl_e2e2e2 {
  border-left: 1px solid #e2e2e2;
}
.lett_1 {
  letter-spacing: 1px;
}
.icon_close {
  background: url("../images/svg/close.svg") no-repeat center center;
  background-size: 100%;
  width: 100%;
  height: 100%;
  display: block;
}
/* CSS  按钮  */
.btn {
  height: 40px;
  line-height: 40px;
  font-family: 'SMSP-SemiBold';
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
}
.btn_black {
  background: #000000;
  color: #ffffff;
  border: 2px solid #000000;
}
.btn_black:hover {
  background: #ffffff;
  color: #000000;
}
.btn_gray {
  background: #fafafa;
  border: 2px solid #fafafa;
}
.btn_gray:hover {
  background: #ffffff;
  color: #000000;
}
.btn_pink {
  background: #cc5e6f;
  color: #ffffff;
}
.btn_pink:hover {
  background: rgba(204, 94, 111, 0.75);
}
.btn_blue {
  background: #2e4ca2;
  color: #ffffff;
}
.btn_blue:hover {
  background: rgba(46, 76, 162, 0.75);
}
.btn_line {
  background: none;
  position: relative;
  border: none;
  height: 40px;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
}
.btn_line:hover {
  border-bottom: 2px solid #000000;
}
.btn_line:before,
.btn_line:after {
  content: '';
  position: absolute;
  left: 0;
  height: 2px;
  width: 0;
}
.btn_line:before {
  background: #000000;
  bottom: 0px;
}
.btn_line:after {
  bottom: -2px;
  background: #ffffff;
}
.btn_line:hover:before {
  width: 100%;
  transition: 0.4s ease all 0.4s;
}
.btn_line:hover:after {
  width: 100%;
  transition: 0.4s ease all;
}
.h1 {
  font-family: 'CND-Bold';
  font-size: 30px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
}
.h1_line {
  width: 45px;
  height: 4px;
  overflow: hidden;
  background: #f29191;
  margin-left: auto;
  margin-right: auto;
}
/* CSS  flex */
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.flex_item {
  -ms-flex-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex_1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: block;
}
.flex_2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  flex: 2;
  display: block;
}
/* CSS placeholder */
/* input 通用样式 */
.right,
.error {
  border: 0;
  height: 65px;
  position: relative;
  margin: 5px 0;
}
.input {
  font-family: 'SMSP-Regular';
  font-size: 16px;
  color: #353535;
  letter-spacing: 0;
  text-align: left;
  height: 40px;
}
.input_tip {
  font-family: 'SMSP-SemiBold';
  font-size: 13px;
  letter-spacing: 0;
  text-align: left;
  position: absolute;
  bottom: 0px;
  left: 0;
}
.input_focus {
  border-bottom: solid 2px #000;
  font-family: 'SMSP-Regular';
}
/* input 以上是继承的类，下面是对的时候和错的时候的不同样式 */
.right .input {
  border: none;
  border-bottom: solid 4px #000000;
}
.right .input_tip {
  color: #353535;
}
.error .input {
  border: none;
  border-bottom: solid 2px #d60201;
}
.error .input_tip {
  color: #d60201;
}
.input_var {
  width: 373px;
}
.input::-webkit-input-placeholder {
  font-family: 'SMSP-Bold';
  font-size: 16px;
  color: #898989;
  letter-spacing: 0;
  text-align: left;
}
.input::-moz-input-placeholder {
  font-family: 'SMSP-Bold';
  font-size: 16px;
  color: #898989;
  letter-spacing: 0;
  text-align: left;
}
.input::-ms-input-placeholder {
  font-family: 'SMSP-Bold';
  font-size: 16px;
  color: #898989;
  letter-spacing: 0;
  text-align: left;
}
/* 标题文本 */
.h1 {
  font-family: 'CND-Bold';
  font-size: 48px;
  color: #000000;
  letter-spacing: 1px;
}
.h2 {
  font-family: 'CND-Bold';
  font-size: 36px;
  color: #000000;
}
.h3 {
  font-family: 'CND-Bold';
  font-size: 30px;
  color: #000000;
  letter-spacing: 1px;
}
.sub_h1 {
  font-family: 'SMSP-Bold';
  font-size: 18px;
  color: #000000;
  line-height: 28px;
}
.sub_h2 {
  font-family: 'SMSP-SemiBold';
  font-size: 16px;
  color: #000000;
  line-height: 28px;
}
.text_main {
  font-family: 'SMSP-Regular';
  font-size: 15px;
  color: #000000;
  line-height: 22px;
}
.text_secondary {
  font-family: 'SMSP-Light';
  font-size: 13px;
  color: #898989;
  line-height: 18px;
}
.text_disclamer {
  font-family: 'SMSP-Light';
  font-size: 9px;
  color: #62605e;
  line-height: 15px;
}
/* 栅格 col_lg_电脑端栅格  col_md_普通栅格  col_sm_手机端栅格 */
.row {
  width: 100%;
}
.col_md_1 {
  width: 8.33333%;
  max-width: 8.33333%;
  -ms-flex-preferred-size: 8.33333%;
  flex-basis: 8.33333%;
}
.col_md_2 {
  width: 16.66667%;
  max-width: 16.66667%;
  -ms-flex-preferred-size: 16.66667%;
  flex-basis: 16.66667%;
}
.col_md_3 {
  width: 25%;
  max-width: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}
.col_md_4 {
  width: 33.33333%;
  max-width: 33.33333%;
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333%;
}
.col_md_5 {
  width: 41.66667%;
  max-width: 41.66667%;
  -ms-flex-preferred-size: 41.66667%;
  flex-basis: 41.66667%;
}
.col_md_6 {
  width: 50%;
  max-width: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}
.col_md_7 {
  width: 58.33333%;
  max-width: 58.33333%;
  -ms-flex-preferred-size: 58.33333%;
  flex-basis: 58.33333%;
}
.col_md_8 {
  width: 66.66667%;
  max-width: 66.66667%;
  -ms-flex-preferred-size: 66.66667%;
  flex-basis: 66.66667%;
}
.col_md_9 {
  width: 75%;
  max-width: 75%;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
}
.col_md_10 {
  width: 83.33333%;
  max-width: 83.33333%;
  -ms-flex-preferred-size: 83.33333%;
  flex-basis: 83.33333%;
}
.col_md_11 {
  width: 91.66667%;
  max-width: 91.66667%;
  -ms-flex-preferred-size: 91.66667%;
  flex-basis: 91.66667%;
}
.col_md_12 {
  width: 100%;
  max-width: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
[class^="col_md"] {
  float: left;
}
/*手机端*/
@media screen and (min-device-width: 300px) and (max-device-width: 1024px) {
  .col_sm_1 {
    width: 8.33333%;
    max-width: 8.33333%;
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
  }
  .col_sm_2 {
    width: 16.66667%;
    max-width: 16.66667%;
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
  }
  .col_sm_3 {
    width: 25%;
    max-width: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }
  .col_sm_4 {
    width: 33.33333%;
    max-width: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
  }
  .col_sm_5 {
    width: 41.66667%;
    max-width: 41.66667%;
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
  }
  .col_sm_6 {
    width: 50%;
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .col_sm_7 {
    width: 58.33333%;
    max-width: 58.33333%;
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
  }
  .col_sm_8 {
    width: 66.66667%;
    max-width: 66.66667%;
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
  }
  .col_sm_9 {
    width: 75%;
    max-width: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
  }
  .col_sm_10 {
    width: 83.33333%;
    max-width: 83.33333%;
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
  }
  .col_sm_11 {
    width: 91.66667%;
    max-width: 91.66667%;
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
  }
  .col_sm_12 {
    width: 100%;
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .input_var {
    width: 80%;
  }
}
@media screen and (min-width: 1025px) {
  .col_lg_1 {
    width: 8.33333%;
    max-width: 8.33333%;
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
  }
  .col_lg_2 {
    width: 16.66667%;
    max-width: 16.66667%;
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
  }
  .col_lg_3 {
    width: 25%;
    max-width: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }
  .col_lg_4 {
    width: 33.33333%;
    max-width: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
  }
  .col_lg_5 {
    width: 41.66667%;
    max-width: 41.66667%;
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
  }
  .col_lg_6 {
    width: 50%;
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .col_lg_7 {
    width: 58.33333%;
    max-width: 58.33333%;
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
  }
  .col_lg_8 {
    width: 66.66667%;
    max-width: 66.66667%;
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
  }
  .col_lg_9 {
    width: 75%;
    max-width: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
  }
  .col_lg_10 {
    width: 83.33333%;
    max-width: 83.33333%;
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
  }
  .col_lg_11 {
    width: 91.66667%;
    max-width: 91.66667%;
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
  }
  .col_lg_12 {
    width: 100%;
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}
/* iphone 5 css   */
@media screen and (min-device-width: 300px) and (max-device-width: 373px) {
  /*标题文本*/
  .h1 {
    font-size: 24px;
    letter-spacing: 0px;
  }
  .h2 {
    font-size: 22px;
  }
  .h3 {
    font-size: 20px;
    letter-spacing: 0px;
  }
  .sub_h1 {
    font-size: 18px;
  }
  .sub_h2 {
    font-size: 16px;
  }
  .text_main {
    font-size: 14px;
    line-height: 20px;
  }
  .text_secondary {
    font-size: 12px;
    line-height: 18px;
  }
  .text_disclamer {
    font-size: 9px;
    line-height: 14px;
  }
}
/* iphone 6 7 8 css  */
@media screen and (min-device-width: 374px) and (max-device-width: 412px) {
  /*标题文本*/
  .h1 {
    font-size: 28px;
    letter-spacing: 0px;
  }
  .h2 {
    font-size: 26px;
  }
  .h3 {
    font-size: 22px;
    letter-spacing: 1px;
  }
  .sub_h1 {
    font-size: 20px;
  }
  .sub_h2 {
    font-size: 18px;
  }
  .text_main {
    font-size: 16px;
    line-height: 22px;
  }
  .text_secondary {
    font-size: 14px;
    line-height: 20px;
  }
  .text_disclamer {
    font-size: 10px;
    line-height: 16px;
  }
}
/* iphone 6 7 8plus  css */
@media screen and (min-device-width: 413px) and (max-device-width: 767px) {
  /* 标题文本 */
  .h1 {
    font-size: 30px;
    letter-spacing: 0px;
  }
  .h2 {
    font-size: 28px;
  }
  .h3 {
    font-size: 24px;
    letter-spacing: 0px;
  }
  .sub_h1 {
    font-size: 22px;
  }
  .sub_h2 {
    font-size: 20px;
  }
  .text_main {
    font-size: 19px;
    line-height: 24px;
  }
  .text_secondary {
    font-size: 16px;
    line-height: 22px;
  }
  .text_disclamer {
    font-size: 10px;
    line-height: 16px;
  }
}
